<%- include("templates/encabezado") %>
<style>
    h1 { color: white}
    h2 { color: white}
</style>
<center>
    <img src="../web/assets/lobotite.png" alt="150px">
    <h1>¡OH! ¿Qué ha pasado? </h1>
    <br> 
    <h2>Disulpe las inconveniencias, estamos trabajando en solucionarlo</h2>
</center>
<%- include("templates/pie") %>